<a href="https://colab.research.google.com/github/diepminhtuyenn1604-cpu/ueh25-ktlt-eco/blob/main/Buoi2_250816-Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1+r))**n
print(round(fv,2))

194.87

In [ ]:
#python variables
x=2
price = 2.5
word = "Hello"
print(x,price,word)
print(f'x={x}, price= {price, type (price)}), word = {word, type (word)}')

2 2.5 Hello
x=2, price= (2.5, <class 'float'>)), word = ('Hello', <class 'str'>)

In [ ]:
# comment
from platform import python_version
print("Python Version:", python_version())
print ("python version:", python_version)

Python Version: 3.11.13
python version: <function python_version at 0x784166066de0>

In [ ]:
x= "Hello, World"
print(x,type(x))
x=2
print(x,type(x))
x=2.5
print(x,type(x))
x=7j
print(x,type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"] #list #immutable
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset
x= {"name":"Tom", "age":20} #dictionary
print(x, type (x), x["name"])

{'name': 'Tom', 'age': 20} <class 'dict'> Tom

In [ ]:
x = x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

In [ ]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [ ]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [ ]:
print(3 > 2)
print(3 == 2)
print(3 < 2)
print (3!= 2)

True
False
False
True

In [ ]:
#bmi
#input
height_cm = 155
weight_kg = 42
#process
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,2)))

Your BMI is: 17.48

In [ ]:
#100 dô sau 7 năm
fv= 100 * ((1+0.1)**7)
print(round(fv, 2))

194.87

In [ ]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [ ]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [ ]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {

In [ ]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [58]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
   print('Account name:', account[0],'Account number:', account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [60]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

In [65]:
# Python if else
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

In [75]:
# Python if elif else
score = 90
grade = ""
if score >= 90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
print(grade)

A

In [68]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [73]:
for i in range(1,10):
    for j in range(1,10):
       print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [77]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [80]:
# Python class
class MyClass:
 x = 5

c1 = MyClass()
print(c1.x)

5

In [83]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

In [91]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

  def myfunc(self):
   print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [97]:
class Vehicle:
 name = ""
 kind = "car"
 color = ""
 value = 100.00
 def description(self):
  desc_str = "%s is a %s %s worth $%.2f." %
  (self.name, self.color, self.kind, self.value)
  return desc_str

In [98]:
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00
car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00
print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

%s is a %s %s worth $%.2f.
Fer
%s is a %s %s worth $%.2f.
Jump

In [102]:
# mymodule.py
def greeting(name):
  print("Hello, " + name)

In [103]:
import mymodule
mymodule.greeting("Alan")

ModuleNotFoundError: No module named 'mymodule'

In [105]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
 file.write('
Hello World
\nThis is Python File Input Output
')
with open('myfile.txt', 'r') as file:
text = file.read()
print(text)

SyntaxError: unterminated string literal (detected at line 3) (ipython-input-157899310.py, line 3)

In [106]:
#Python main() function
def main():
  print("Hello World!")
if __name__ == "__main__":
  main()

Hello World!